data/xml_schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="dataID"/>
                <xs:element type="xs:string" name="dataName"/>
                <xs:element type="xs:integer" name="dataType"/>
                <xs:element name="attachmentFTOLinks">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="link" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="chatRoom"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
